################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs/PolarSimulate/v15
/results_plotting/.ipynb_checkpoints
/results
/src/trash.cpp
/src/ScFanoTrashDecoder.cpp
/BuildSequence/x64/Release
/BuildSequence/BuildSequence.vcxproj.filters
/BuildSequence/BuildSequence.vcxproj
/polar_sequences/Stat/leader.dump
/BuildSequence/leader.dump
